.pricing {
    background-color: #fff;
    padding: 90px 0 170px 0;
    position: relative;
}

.pricing .titlepage {
    text-align: center;
    padding-bottom: 45px;
}

.pricing_box {
    border: #727272 solid 1px;
    padding: 74px 101px 80px 101px;
}

.pricing_box_ti {
    text-align: center;
}

.pricing_box_ti h3 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 5px;
}

.pricing_box_ti h3::before {
    position: absolute;
    content: "";
    background-color: #ddd;
    width: 84px;
    height: 4px;
    border-radius: 5px;
    bottom: 0;
}

.pricing_box_ti h3 span {
    color: #7321cd;
}

.pricing_box_ti h3 strong {
    font-size: 15px;
    font-weight: normal;
}

.our_pricing {
    text-align: center;
}

.our_pricing span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 20px;
    color: #2e2d2d;
    padding-top: 30px;
    display: block;
}

.our_pricing p {
    line-height: 39px;
}

.mar_top {
    margin-top: -20px !important;
    margin: 0 auto;
    display: block;
    max-width: 142px;
    height: 40px;
    padding: 4px 0;
    font-weight: normal;
    margin-bottom: 30px;
}