.banner_main::before {
    position: absolute;
    content: "";
    background-color: #2e2d2d;
    width: 370px;
    height: 764px;
    left: 0;
}

.banner1 {
    position: relative;
    padding: 50px 0 100px 0;
}

.relative {
    position: inherit;
    padding: 0;
    text-align: left;
}

.relative span {
    color: #ddd;
}

.relative h1 {
    font-size: 74px;
    line-height: 80px;
    font-weight: 500;
    color: #2e2d2d;
}

.relative p {
    color: #2e2d2d;
    padding-bottom: 70px;
}

.get_btn {
    background-color: #2e2d2d;
    color: #fff;
    text-align: center;
    max-width: 216px;
    width: 100%;
    height: 40px;
    font-size: 17px;
    display: block;
    padding: 4px 0;
}

.get_btn:hover {
    color: #fa8c17;
}

.bann_img {
    padding-left: 59px;
    padding-right: 20px;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    width: 55px;
    height: 55px;
    background: #2e2d2d;
    opacity: 1;
    font-size: 20px;
    color: #ffffff;
    top: 90%;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
    background: #ececec;
    color: #2e2d2d;
}

#myCarousel .carousel-control-prev {
    left: inherit;
    right: 100px;
}

#myCarousel .carousel-control-next {
    right: 30px;
}

.banner .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #000;
}

.carousel-indicators {
    display: none;
}